k0k1_J_1layer.png
k1k2_J_2layer.png
series_reconstructed_long_1layers.png
series_reconstructed_long_2layers.png
save_script/hugo_v0.py
Interp_1D_LON-24.8_LAT45.2.nc
LS_fields_SSH_-25_-24_45.0_46_24000.0_24010.0.nc
__pycache__/build_LS_fields.cpython-311.pyc
__pycache__/constants.cpython-311.pyc
__pycache__/functions.cpython-311.pyc
__pycache__/model_unstek.cpython-311.pyc
png_1D/Hodograph_from_stepTau_1layers_k0-2_k1-7.png
png_1D/Hodograph_from_stepTau_1layers_k0-3.63133021_k1-9.46349552.png
png_1D/Hodograph_from_stepTau_1layers_k0-5_k1-12.png
png_1D/Hodograph_from_stepTau_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
png_1D/k0k1_J_1layerk0-0.25_k1-0.25.png
png_1D/k0k1_J_1layerk0-6_k1-12.png
png_1D/k0k1_J_1layerk0-12_k1-6.png
png_1D/series_reconstructed_1layers_k0-2_k1-7.png
png_1D/series_reconstructed_1layers_k0-3.63133021_k1-9.46349552.png
png_1D/series_reconstructed_1layers_k0-5_k1-12.png
png_1D/series_reconstructed_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
1layer_mean_inertial.png
1layer_mean_inertial.svg
png_1D_save/Hodograph_from_stepTau_1layers_k0-2_k1-7.png
png_1D_save/Hodograph_from_stepTau_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_save/Hodograph_from_stepTau_1layers_k0-5_k1-12.png
png_1D_save/Hodograph_from_stepTau_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
png_1D_save/k0k1_J_1layerk0-6_k1-12.png
png_1D_save/k0k1_J_1layerk0-12_k1-6.png
png_1D_save/series_reconstructed_1layers_k0-2_k1-7.png
png_1D_save/series_reconstructed_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_save/series_reconstructed_1layers_k0-5_k1-12.png
png_1D_save/series_reconstructed_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
2layer_Jmap_traj.svg
2layer_Jmap_traj.png
png_1D/k0k1_J_1layerk0-12_k1-4.png
png_1D/k0k1_J_1layerk0-12_k1-12.png
Interp_1D_LON-24.8_LAT45.2.ncSAVE
png_1D/series_reconstructed_1layers_k0-12_k1-15.png
png_1D_UU/Hodograph_from_stepTau_1layers_k0-2_k1-7.png
png_1D_UU/Hodograph_from_stepTau_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_UU/Hodograph_from_stepTau_1layers_k0-5_k1-12.png
png_1D_UU/Hodograph_from_stepTau_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
png_1D_UU/k0k1_J_1layerk0-12_k1-4.png
png_1D_UU/k0k1_J_1layerk0-12_k1-12.png
png_1D_UU/series_reconstructed_1layers_k0-2_k1-7.png
png_1D_UU/series_reconstructed_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_UU/series_reconstructed_1layers_k0-5_k1-12.png
png_1D_UU/series_reconstructed_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
