k0k1_J_1layer.png
k1k2_J_2layer.png
series_reconstructed_long_1layers.png
series_reconstructed_long_2layers.png
save_script/hugo_v0.py
Interp_1D_LON-24.8_LAT45.2.nc
LS_fields_SSH_-25_-24_45.0_46_24000.0_24010.0.nc
__pycache__/build_LS_fields.cpython-311.pyc
__pycache__/constants.cpython-311.pyc
__pycache__/functions.cpython-311.pyc
__pycache__/model_unstek.cpython-311.pyc
png_1D/Hodograph_from_stepTau_1layers_k0-2_k1-7.png
png_1D/Hodograph_from_stepTau_1layers_k0-3.63133021_k1-9.46349552.png
png_1D/Hodograph_from_stepTau_1layers_k0-5_k1-12.png
png_1D/Hodograph_from_stepTau_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
png_1D/k0k1_J_1layerk0-0.25_k1-0.25.png
png_1D/k0k1_J_1layerk0-6_k1-12.png
png_1D/k0k1_J_1layerk0-12_k1-6.png
png_1D/series_reconstructed_1layers_k0-2_k1-7.png
png_1D/series_reconstructed_1layers_k0-3.63133021_k1-9.46349552.png
png_1D/series_reconstructed_1layers_k0-5_k1-12.png
png_1D/series_reconstructed_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
1layer_mean_inertial.png
1layer_mean_inertial.svg
png_1D_save/Hodograph_from_stepTau_1layers_k0-2_k1-7.png
png_1D_save/Hodograph_from_stepTau_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_save/Hodograph_from_stepTau_1layers_k0-5_k1-12.png
png_1D_save/Hodograph_from_stepTau_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
png_1D_save/k0k1_J_1layerk0-6_k1-12.png
png_1D_save/k0k1_J_1layerk0-12_k1-6.png
png_1D_save/series_reconstructed_1layers_k0-2_k1-7.png
png_1D_save/series_reconstructed_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_save/series_reconstructed_1layers_k0-5_k1-12.png
png_1D_save/series_reconstructed_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
2layer_Jmap_traj.svg
2layer_Jmap_traj.png
png_1D/k0k1_J_1layerk0-12_k1-4.png
png_1D/k0k1_J_1layerk0-12_k1-12.png
Interp_1D_LON-24.8_LAT45.2.ncSAVE
png_1D/series_reconstructed_1layers_k0-12_k1-15.png
png_1D_UU/Hodograph_from_stepTau_1layers_k0-2_k1-7.png
png_1D_UU/Hodograph_from_stepTau_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_UU/Hodograph_from_stepTau_1layers_k0-5_k1-12.png
png_1D_UU/Hodograph_from_stepTau_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
png_1D_UU/k0k1_J_1layerk0-12_k1-4.png
png_1D_UU/k0k1_J_1layerk0-12_k1-12.png
png_1D_UU/series_reconstructed_1layers_k0-2_k1-7.png
png_1D_UU/series_reconstructed_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_UU/series_reconstructed_1layers_k0-5_k1-12.png
png_1D_UU/series_reconstructed_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
png_1D_Tau/series_reconstructed_long_2layers_withMLD.png
png_1D_Tau/PSDscore_1layers_k0-9.39864959_k1-9.23882757.png
png_1D_Tau/PSDscore_2layers_k0-9.14721791_k1-8.79469884_k2-11.20512638_k3-12.5794675.png
png_1D_Tau/series_reconstructed_1layers_k0-9.39864959_k1-9.23882757.png
png_1D_Tau/series_reconstructed_2layers_k0-9.14721791_k1-8.79469884_k2-11.20512638_k3-12.5794675.png
png_1D_UU/PSDscore_1layers_k0-2_k1-7.png
png_1D_UU/PSDscore_1layers_k0-3.63133021_k1-9.46349552.png
png_1D_UU/PSDscore_1layers_k0-5_k1-12.png
png_1D_UU/PSDscore_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
__pycache__/tools.cpython-311.pyc
png_1D_Tau/PSDscore_2layers_k0-9.14721791_k1-8.79469884_k2-14_k3-12.5794675.png
png_1D_Tau/series_reconstructed_2layers_k0-9.14721791_k1-8.79469884_k2-14_k3-12.5794675.png
tests_jax/NOJAX_series_reconstructed_long_1layers_withMLD.png
tests_jax/NOJAX_series_reconstructed_long_1layers.png
tests_jax/__pycache__/unstek.cpython-311.pyc
.gitignore
tests_jax/JAX_series_reconstructed_long_1layers.png
tests_jax/JAX_series_reconstructed_long_2layers.png
tests_jax/NOJAX_series_reconstructed_long_2layers.png
tests_jax/__pycache__/forcing.cpython-311.pyc
tests_jax/__pycache__/inv.cpython-311.pyc
tests_jax/__pycache__/junstek.cpython-311.pyc
tests_jax/__pycache__/observations.cpython-311.pyc
tests_jax/series_reconstructed_long.png
save_script/series_reconstructed_long.png
png_1D_UU/series_reconstructed_long_1layers_withMLD.png
__pycache__/forcing.cpython-311.pyc
__pycache__/inv.cpython-311.pyc
__pycache__/observations.cpython-311.pyc
__pycache__/unstek.cpython-311.pyc
Inertial_current_from_MITgcm.code-workspace
LS_fields_SSH_-25_-24_45_46.nc
__pycache__/filters.cpython-311.pyc
__pycache__/scores.cpython-311.pyc
tests_jax/__pycache__/tools.cpython-311.pyc
png_1D_UU/series_reconstructed_long_2layers_withMLD.png
build_LS_fields.pySAVE24012025
ncdiff_log.txt
reconstruct_inertial.pySAVE24012025
V1_Interp_1D_LON-24.8_LAT45.2.nc
__pycache__/build_LS_fields.cpython-310.pyc
__pycache__/constants.cpython-310.pyc
__pycache__/filters.cpython-310.pyc
__pycache__/forcing.cpython-310.pyc
__pycache__/inv.cpython-310.pyc
__pycache__/junstek.cpython-310.pyc
__pycache__/junstek.cpython-311.pyc
__pycache__/observations.cpython-310.pyc
__pycache__/scores.cpython-310.pyc
__pycache__/tools.cpython-310.pyc
__pycache__/unstek.cpython-310.pyc
MITgcm_Interp_1D_LON-24.8_LAT45.2.nc
adapt_croco_to_xgcm.py
Croco_Interp_1D_LON-50.0_LAT35.0.nc
MITgcm_Interp_1D_LON-24.8_LAT45.2.ncSAVE
__pycache__/adapt_croco_to_xgcm.cpython-310.pyc
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_k0k1_J_1layer.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_series_reconstructed_long_1layers_withMLD.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_series_reconstructed_long_1layers.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/Local_map_large.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/Local_map_small.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/Local_map_xlarge.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/series_reconstructed_long_1layers_withMLD.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/series_reconstructed_long_2layers_withMLD.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/JAX_k0k1_J_1layer.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/JAX_series_reconstructed_long_2layers_withMLD.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/JAX_series_reconstructed_long_2layers.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/Local_map_large.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/Local_map_small.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/Local_map_xlarge.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/series_reconstructed_long_2layers_withMLD.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_UU/JAX_series_reconstructed_long_2layers_withMLD.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_UU/JAX_series_reconstructed_long_2layers.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_UU/series_reconstructed_long_2layers_withMLD.png
save_script/diag_freq.ipynb
__pycache__/OSSE.cpython-310.pyc
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_k1k2_J_2layer.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/JAX_k1k2_J_2layer.png
old/png_1D_Tau/PSDscore_1layers_k0-9.39864959_k1-9.23882757.png
old/png_1D_Tau/PSDscore_2layers_k0-9.14721791_k1-8.79469884_k2-11.20512638_k3-12.5794675.png
old/png_1D_Tau/PSDscore_2layers_k0-9.14721791_k1-8.79469884_k2-14_k3-12.5794675.png
old/png_1D_Tau/series_reconstructed_1layers_k0-9.39864959_k1-9.23882757.png
old/png_1D_Tau/series_reconstructed_2layers_k0-9.14721791_k1-8.79469884_k2-11.20512638_k3-12.5794675.png
old/png_1D_Tau/series_reconstructed_2layers_k0-9.14721791_k1-8.79469884_k2-14_k3-12.5794675.png
old/png_1D_Tau/series_reconstructed_long_2layers_withMLD.png
old/png_1D_UU/Hodograph_from_stepTau_1layers_k0-2_k1-7.png
old/png_1D_UU/Hodograph_from_stepTau_1layers_k0-3.63133021_k1-9.46349552.png
old/png_1D_UU/Hodograph_from_stepTau_1layers_k0-5_k1-12.png
old/png_1D_UU/Hodograph_from_stepTau_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
old/png_1D_UU/k0k1_J_1layerk0-12_k1-4.png
old/png_1D_UU/k0k1_J_1layerk0-12_k1-12.png
old/png_1D_UU/PSDscore_1layers_k0-2_k1-7.png
old/png_1D_UU/PSDscore_1layers_k0-3.63133021_k1-9.46349552.png
old/png_1D_UU/PSDscore_1layers_k0-5_k1-12.png
old/png_1D_UU/PSDscore_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
old/png_1D_UU/series_reconstructed_1layers_k0-2_k1-7.png
old/png_1D_UU/series_reconstructed_1layers_k0-3.63133021_k1-9.46349552.png
old/png_1D_UU/series_reconstructed_1layers_k0-5_k1-12.png
old/png_1D_UU/series_reconstructed_2layers_k0-3.47586165_k1-9.06189063_k2-11.22302904_k3-12.43724667.png
old/png_1D_UU/series_reconstructed_long_1layers_withMLD.png
old/png_1D_UU/series_reconstructed_long_2layers_withMLD.png
save_script/.ipynb_checkpoints/diag_freq-checkpoint.ipynb
diag.png
.gitignore
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_series_reconstructed_long_2layers_withMLD.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_series_reconstructed_long_2layers.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/JAX_series_reconstructed_long_1layers_withMLD.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_Tau/JAX_series_reconstructed_long_1layers.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_UU/JAX_series_reconstructed_long_1layers_withMLD.png
png_1D/MITgcm/LON-24.8_LAT45.2/stress_UU/JAX_series_reconstructed_long_1layers.png
BENCH_jUnstek1D_benchmark_forward_model_previous.txt
BENCH_jUnstek1D_benchmark_forward_model.txt
__pycache__/benchmark.cpython-310.pyc
benchmark_previous.txt
benchmark.txt
benchmark_1_layers.txt
benchmark_2_layers.txt
benchmark_3_layers.txt
Reconstruct_inertial_current.code-workspace
tests_jax/__pycache__/constants.cpython-310.pyc
tests_jax/__pycache__/forcing.cpython-310.pyc
tests_jax/__pycache__/inv.cpython-310.pyc
tests_jax/__pycache__/junstek.cpython-310.pyc
tests_jax/__pycache__/observations.cpython-310.pyc
tests_jax/__pycache__/tools.cpython-310.pyc
tests_jax/__pycache__/unstek.cpython-310.pyc
results_hypercube_Croco_LON-50.0_LAT35.0.txt
results_hypercube_MITgcm_LON-24.8_LAT45.2.txt
package-list.txt
Croco_Interp_1D_LON-50.0_LAT35.0.nc2MONTHS
benchmark_4_layers.txt
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_Local_map_large.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_Local_map_small.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_Local_map_xlarge.png
Croco_Interp_1D_LON-50.0_LAT35.0.nc1MONTH
JAX_test_junstek1D_kt_1layers.png
png_1D/Croco/LON-50.0_LAT35.0/stress_Tau/JAX_test_junstek1D_kt_2layers.png
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/.zgroup
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/.zmetadata
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/lat/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/lat/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/lon/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/lon/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/oceTAUX/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/oceTAUX/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/oceTAUY/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/oceTAUY/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/SSH/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/SSH/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/SSH_LS/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/SSH_LS/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/time/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/time/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/time/0
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/time/1
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/U/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/U/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/Ug/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/Ug/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/V/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/V/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/Vg/.zarray
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.zarr/Vg/.zattrs
Croco_Interp_2D_LON-55.0_-50.0_LAT30.0_35.0.nc
Croco_Interp_1D_LON-50.0_LAT35.0.nc1MONTH
gotm_workdir/Croco_LON-50.0_LAT35.0/forcing.txtSAVE
gotm_workdir/Croco_LON-50.0_LAT35.0/output_file.nc
gotm_workdir/Croco_LON-50.0_LAT35.0/restart.nc
gotm_workdir/Croco_LON-53.0_LAT29.5/forcing.txt
gotm_workdir/Croco_LON-53.0_LAT29.5/output_file.nc
gotm_workdir/Croco_LON-53.0_LAT29.5/restart.nc
png_gotm/Croco_LON-50.0_LAT35.0/gotm_vs_Croco_Usfx.png
png_gotm/Croco_LON-53.0_LAT29.5/gotm_vs_Croco_Usfx.png
gotm_workdir/Croco_LON-53.0_LAT29.5/initial.txt
png_gotm/Croco_LON-53.0_LAT29.5/gotm_vs_Croco_Usfx_save.png
